$primaryColor: #44d0f5;
$secondaryColor: #3aaff2;

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input textarea .input-field {
    font-family: "Roboto", sans-serif !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Signin Signout */
.signin-box,
.signup-box {
    background: rgba(255, 255, 255, 0.1);
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 25%;
    animation: arrive 0.5s 1;
    transform: translate(-50%, -45%);
}

@keyframes arrive {
    0% {
        top: 0%;
        left: 50%;
        background: white;
        color: white;
    }
}

.signin-box form,
.signup-box form {
    margin-top: 10px;
    padding: 20px;
}

.signin-box h3,
.signup-box h3 {
    margin-bottom: 30px;
    font-weight: 300;
    color: $secondaryColor;
}

.signin-box input[type="email"],
.signin-box input[type="password"],
.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"] {
    width: 100%;
}

.signin-box button {
    margin-top: 10px;
}
/* Title */
.main-title {
    padding: 0.5rem;
}
.main-title img {
    height: 100%;
    width: 20rem;
    padding: 0 1rem;
}
.main-title img:hover {
    padding: 0 0.5rem;
    height: 100%;
    width: 20rem;
}

.common_color {
    color: $primaryColor;
}

/* Headlines */
.headline {
    /* color:#05AFF2; */
    color: $primaryColor;
}

/* Buttons color */
.buttons_color {
    background-color: $primaryColor;
}
.buttons_color:hover {
    background-color: $secondaryColor;
}

/* Navbar */
.nav-wrapper {
    background-color: #f2f2f2;
    padding: 0rem 4rem;
    height: 5rem;
    line-height: 5rem;
}
.initials_button {
    background-color: $secondaryColor;
}
.initials_button:hover {
    background-color: $primaryColor;
}

/* Dashboard */
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="file"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: $secondaryColor;
    box-shadow: none;
}

/* Dashboard Right Section */

/* Dashboard Search */

/* Modal */
.makeStyles-paper-4:focus {
    outline-color: #fff;
}

/* Notification */
.single_notification {
    background-color: #d8d8c2 !important;
    border-radius: 1%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #eee9e0;
}

/* MovieDB SearchBar */
.searchbar {
    padding-top: 0.5rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #d8d8c2;
}

.search_items {
    padding: 0 1rem !important;
}
.single_search_item {
    background-color: #d8d8c2 !important;
    border-radius: 1%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #eee9e0;
}
.single_search_image {
    border-radius: 0% !important;
}

/* New Review */
.review_box .active {
    padding-bottom: 10px;
}

.circleButton {
    color: $primaryColor;
    border: 1px solid $primaryColor;
}

/* Image Uploader */
.select_image_button {
    height: 2rem !important;
    line-height: 2rem !important;
}
.progress_bar {
    height: 1rem !important;
}
.upload_image_preview {
    width: 100%;
    height: 16rem;
}

/* Single Review */
.single_review {
    border-radius: 1%;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #d8d8c2;
}

.single_review_image {
    width: 14rem !important;
    max-width: 100% !important;
    height: 100% !important;
}
.single_review_title {
    padding-left: 2.5rem !important;
    padding-top: 0.75rem !important;
}
.single_review_name {
    color: #002f53;
    font-weight: bolder;
    overflow: hidden;
}
.single_review_content {
    color: #262626;
    text-align: justify;
    text-justify: inter-word;
}
.single_review_date {
    color: #737373;
    padding-right: 2rem;
}
.single_review_author_title {
    color: #737373;
}
.single_review_author {
    color: $secondaryColor;
    font-style: italic;
}

/* Delete and Edit Buttons */
.delete_button {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.delete_icon {
    margin: 0;
    padding: 0;
    color: #737373 !important;
    background-color: transparent;
}
.edit_button {
    margin: 0 !important;
    padding-left: 1rem;
    padding-right: 1rem;
}
.edit_icon {
    margin: 0;
    padding: 0;
    color: #737373 !important;
    background-color: transparent;
}

/* Edit Reviews */
.edit_textarea {
    min-height: 10rem !important;
    overflow: hidden !important;
    resize: vertical !important;
}

/* Timeline Review */
.timelineHeading {
    text-align: center;
}
.timeline_review {
    border-radius: 1%;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #d8d8c2;
}
.timeline_review_image {
    width: 14rem !important;
    max-width: 100% !important;
    height: 100% !important;
}
.timeline_review_title {
    padding-left: 1.5rem !important;
    padding-top: 0.5rem !important;
}
.timeline_review_upper_lower_section {
    margin-left: 0;
    margin-right: 0;
}

/* Review Details */
.review_details {
    border-radius: 1%;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #d8d8c2;
}
.detail_review_image {
    width: 16rem !important;
    height: 20rem !important;
}

input[type="file"]:focus {
    border: none !important;
    outline: none;
}
